matsd-javaframework-di/src/main/resources/container.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.matsd.mg/javaframework/schema/container"
           elementFormDefault="qualified">

    <xs:element name="property-source">
        <xs:complexType>
            <xs:attribute name="location" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="component-scan">
        <xs:complexType>
            <xs:attribute name="base-package" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>